In [8]:
import streamlit as st
import pickle
import pandas as pd
import requests
import time

movies_dict = pickle.load(open('../app/movies_dict.pkl', 'rb'))
movies = pd.DataFrame(movies_dict)

In [13]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkYTk3MGRlZTk4YTkxYzJjM2NhY2Q0YjliYTBlY2M0ZCIsInN1YiI6IjY1NTllOWYwZDRmZTA0MDBlMWI1MjVlMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.kZNxZbPNG8-JNW86d3kY5Bhbnllc85i9GxQQS2QrpkQ"
}
movies_dict = {}
request_counter = 0

for movies_id in movies['movie_id']:
    url = "https://api.themoviedb.org/3/movie/{}?language=en-US".format(
        movies_id)
    response = requests.get(url, headers=headers)
    data = response.json()
    movies_dict.update({movies_id: data})
    request_counter += 1

    # Check if 38 requests have been made, then sleep for 10 seconds
    if request_counter % 38 == 0:
        print(f"Pausing for 10 seconds after {request_counter} requests.")
        time.sleep(10)

Pausing for 10 seconds after 38 requests.
Pausing for 10 seconds after 76 requests.
Pausing for 10 seconds after 114 requests.
Pausing for 10 seconds after 152 requests.
Pausing for 10 seconds after 190 requests.
Pausing for 10 seconds after 228 requests.
Pausing for 10 seconds after 266 requests.
Pausing for 10 seconds after 304 requests.
Pausing for 10 seconds after 342 requests.
Pausing for 10 seconds after 380 requests.
Pausing for 10 seconds after 418 requests.
Pausing for 10 seconds after 456 requests.
Pausing for 10 seconds after 494 requests.
Pausing for 10 seconds after 532 requests.
Pausing for 10 seconds after 570 requests.
Pausing for 10 seconds after 608 requests.
Pausing for 10 seconds after 646 requests.
Pausing for 10 seconds after 684 requests.
Pausing for 10 seconds after 722 requests.
Pausing for 10 seconds after 760 requests.
Pausing for 10 seconds after 798 requests.
Pausing for 10 seconds after 836 requests.
Pausing for 10 seconds after 874 requests.
Pausing for 10 seconds after 912 requests.
Pausing for 10 seconds after 950 requests.
Pausing for 10 seconds after 988 requests.
Pausing for 10 seconds after 1026 requests.
Pausing for 10 seconds after 1064 requests.
Pausing for 10 seconds after 1102 requests.
Pausing for 10 seconds after 1140 requests.
Pausing for 10 seconds after 1178 requests.
Pausing for 10 seconds after 1216 requests.
Pausing for 10 seconds after 1254 requests.
Pausing for 10 seconds after 1292 requests.
Pausing for 10 seconds after 1330 requests.
Pausing for 10 seconds after 1368 requests.
Pausing for 10 seconds after 1406 requests.
Pausing for 10 seconds after 1444 requests.
Pausing for 10 seconds after 1482 requests.
Pausing for 10 seconds after 1520 requests.
Pausing for 10 seconds after 1558 requests.
Pausing for 10 seconds after 1596 requests.
Pausing for 10 seconds after 1634 requests.
Pausing for 10 seconds after 1672 requests.
Pausing for 10 seconds after 1710 requests.
Pausing for 10 seconds after 1748 requests.
Pausing for 10 seconds after 1786 requests.
Pausing for 10 seconds after 1824 requests.
Pausing for 10 seconds after 1862 requests.
Pausing for 10 seconds after 1900 requests.
Pausing for 10 seconds after 1938 requests.
Pausing for 10 seconds after 1976 requests.
Pausing for 10 seconds after 2014 requests.
Pausing for 10 seconds after 2052 requests.
Pausing for 10 seconds after 2090 requests.
Pausing for 10 seconds after 2128 requests.
Pausing for 10 seconds after 2166 requests.
Pausing for 10 seconds after 2204 requests.
Pausing for 10 seconds after 2242 requests.
Pausing for 10 seconds after 2280 requests.
Pausing for 10 seconds after 2318 requests.
Pausing for 10 seconds after 2356 requests.
Pausing for 10 seconds after 2394 requests.
Pausing for 10 seconds after 2432 requests.
Pausing for 10 seconds after 2470 requests.
Pausing for 10 seconds after 2508 requests.
Pausing for 10 seconds after 2546 requests.
Pausing for 10 seconds after 2584 requests.
Pausing for 10 seconds after 2622 requests.
Pausing for 10 seconds after 2660 requests.
Pausing for 10 seconds after 2698 requests.
Pausing for 10 seconds after 2736 requests.
Pausing for 10 seconds after 2774 requests.
Pausing for 10 seconds after 2812 requests.
Pausing for 10 seconds after 2850 requests.
Pausing for 10 seconds after 2888 requests.
Pausing for 10 seconds after 2926 requests.
Pausing for 10 seconds after 2964 requests.
Pausing for 10 seconds after 3002 requests.
Pausing for 10 seconds after 3040 requests.
Pausing for 10 seconds after 3078 requests.
Pausing for 10 seconds after 3116 requests.
Pausing for 10 seconds after 3154 requests.
Pausing for 10 seconds after 3192 requests.
Pausing for 10 seconds after 3230 requests.
Pausing for 10 seconds after 3268 requests.
Pausing for 10 seconds after 3306 requests.
Pausing for 10 seconds after 3344 requests.
Pausing for 10 seconds after 3382 requests.
Pausing for 10 seconds after 3420 requests.
Pausing for 10 seconds after 3458 requests.
Pausing for 10 seconds after 3496 requests.
Pausing for 10 seconds after 3534 requests.
Pausing for 10 seconds after 3572 requests.
Pausing for 10 seconds after 3610 requests.
Pausing for 10 seconds after 3648 requests.
Pausing for 10 seconds after 3686 requests.
Pausing for 10 seconds after 3724 requests.
Pausing for 10 seconds after 3762 requests.
Pausing for 10 seconds after 3800 requests.
Pausing for 10 seconds after 3838 requests.
Pausing for 10 seconds after 3876 requests.
Pausing for 10 seconds after 3914 requests.
Pausing for 10 seconds after 3952 requests.
Pausing for 10 seconds after 3990 requests.
Pausing for 10 seconds after 4028 requests.
Pausing for 10 seconds after 4066 requests.
Pausing for 10 seconds after 4104 requests.
Pausing for 10 seconds after 4142 requests.
Pausing for 10 seconds after 4180 requests.
Pausing for 10 seconds after 4218 requests.
Pausing for 10 seconds after 4256 requests.
Pausing for 10 seconds after 4294 requests.
Pausing for 10 seconds after 4332 requests.
Pausing for 10 seconds after 4370 requests.
Pausing for 10 seconds after 4408 requests.
Pausing for 10 seconds after 4446 requests.
Pausing for 10 seconds after 4484 requests.
Pausing for 10 seconds after 4522 requests.
Pausing for 10 seconds after 4560 requests.
Pausing for 10 seconds after 4598 requests.
Pausing for 10 seconds after 4636 requests.
Pausing for 10 seconds after 4674 requests.
Pausing for 10 seconds after 4712 requests.
Pausing for 10 seconds after 4750 requests.
Pausing for 10 seconds after 4788 requests.

In [14]:
df = pd.DataFrame(movies_dict)

In [21]:
df = df.transpose()
df[['id', 'backdrop_path','poster_path']]

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,success,status_code,status_message
19995,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.avatar.com/movies/avatar,19995,tt0499549,en,Avatar,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter the world of Pandora.,Avatar,False,7.575,30006,NaN,NaN,NaN
285,False,/kPcHuPYqzkSo4bmPHtH82GaeEgX.jpg,"{'id': 295, 'name': 'Pirates of the Caribbean ...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",https://movies.disney.com/pirates-of-the-carib...,285,tt0449088,en,Pirates of the Caribbean: At World's End,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,False,7.243,13462,NaN,NaN,NaN
206647,False,/cCKU3EuiSKt6xsOI6gg5kiFgZYm.jpg,"{'id': 645, 'name': 'James Bond Collection', '...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",https://www.mgm.com/movies/spectre,206647,tt2379713,en,Spectre,...,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,A Plan No One Escapes,Spectre,False,6.535,9955,NaN,NaN,NaN
49026,False,/c3OHQncTAnKFhdOTX7D3LTW6son.jpg,"{'id': 263, 'name': 'The Dark Knight Collectio...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thedarkknightrises.com/,49026,tt1345836,en,The Dark Knight Rises,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The Legend Ends,The Dark Knight Rises,False,7.778,21508,NaN,NaN,NaN
49529,False,/ubNevniKd5NYo60DqYIQ29T0uyB.jpg,None,250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://movies.disney.com/john-carter,49529,tt0401729,en,John Carter,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"Lost in our world, found in another.",John Carter,False,6.303,5264,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9367,False,/3oSXZcnd8ALYNjcy2v8t5j0THgE.jpg,"{'id': 9649, 'name': 'Mexico Collection', 'pos...",7225,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",,9367,tt0104815,es,El Mariachi,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,False,6.718,1023,NaN,NaN,NaN
72766,False,/ek5Yac53PCliZVpIVRLRRSseRjr.jpg,None,9000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",,72766,tt1880418,en,Newlyweds,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,Newlyweds,False,6.0,14,NaN,NaN,NaN
231617,False,/4VjcEIuE6gk5al11S5d5ATS7BDK.jpg,"{'id': 418326, 'name': 'Signed Sealed Delivere...",0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",https://www.hallmarkdrama.com/signed-sealed-de...,231617,tt3000844,en,"Signed, Sealed, Delivered",...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,"Signed, Sealed, Delivered",False,6.968,31,NaN,NaN,NaN
126186,False,/y8CGiAYo2E6Ld82FvNvwRwr8937.jpg,None,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",,126186,tt2070597,zh,纽约客@上海,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,A New Yorker in Shanghai,Shanghai Calling,False,6.1,20,NaN,NaN,NaN
25975,False,/76G299sPITuIgAwCWM71KTop3Qc.jpg,None,0,"[{'id': 99, 'name': 'Documentary'}]",,25975,tt0378407,en,My Date with Drew,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,,My Date with Drew,False,5.99,50,NaN,NaN,NaN

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 19995 to 25975
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  4793 non-null   object
 1   backdrop_path          4619 non-null   object
 2   belongs_to_collection  1075 non-null   object
 3   budget                 4793 non-null   object
 4   genres                 4793 non-null   object
 5   homepage               4793 non-null   object
 6   id                     4793 non-null   object
 7   imdb_id                4793 non-null   object
 8   original_language      4793 non-null   object
 9   original_title         4793 non-null   object
 10  overview               4793 non-null   object
 11  popularity             4793 non-null   object
 12  poster_path            4769 non-null   object
 13  production_companies   4793 non-null   object
 14  production_countries   4793 non-null   object
 15  release_date           4793 non-null   object
 16  revenue                4793 non-null   object
 17  runtime                4793 non-null   object
 18  spoken_languages       4793 non-null   object
 19  status                 4793 non-null   object
 20  tagline                4793 non-null   object
 21  title                  4793 non-null   object
 22  video                  4793 non-null   object
 23  vote_average           4793 non-null   object
 24  vote_count             4793 non-null   object
 25  success                7 non-null      object
 26  status_code            7 non-null      object
 27  status_message         7 non-null      object
dtypes: object(28)
memory usage: 1.2+ MB

In [25]:
df = df[['id', 'backdrop_path', 'poster_path', 'release_date', 'runtime']]

In [27]:
df.to_csv('movies_info.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4800 non-null   int64
 1   id             4793 non-null   float64
 2   backdrop_path  4619 non-null   object
 3   poster_path    4769 non-null   object
 4   release_date   4793 non-null   object
 5   runtime        4793 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 225.1+ KB

In [21]:
df

,Unnamed: 0,id,backdrop_path,poster_path,release_date,runtime
0,19995,19995.0,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,2009-12-15,162.0
1,285,285.0,/kPcHuPYqzkSo4bmPHtH82GaeEgX.jpg,/jGWpG4YhpQwVmjyHEGkxEkeRf0S.jpg,2007-05-19,169.0
2,206647,206647.0,/cCKU3EuiSKt6xsOI6gg5kiFgZYm.jpg,/672kUEMtTHcaVYSVY4eiHEliHFa.jpg,2015-10-26,148.0
3,49026,49026.0,/c3OHQncTAnKFhdOTX7D3LTW6son.jpg,/hr0L2aueqlP2BYUblTTjmtn0hw4.jpg,2012-07-17,165.0
4,49529,49529.0,/ubNevniKd5NYo60DqYIQ29T0uyB.jpg,/lCxz1Yus07QCQQCb6I0Dr3Lmqpx.jpg,2012-03-07,132.0
...,...,...,...,...,...,...
4795,9367,9367.0,/3oSXZcnd8ALYNjcy2v8t5j0THgE.jpg,/zRh7K4SV1xQ419m8gzGITak51vc.jpg,1992-09-04,81.0
4796,72766,72766.0,/ek5Yac53PCliZVpIVRLRRSseRjr.jpg,/zMEfv8533tJpNXwKbtd4ShcJQnC.jpg,2011-12-26,85.0
4797,231617,231617.0,/4VjcEIuE6gk5al11S5d5ATS7BDK.jpg,/6BVCgmhLeSTF8nPBuE9ncHHcCNv.jpg,2013-10-12,87.0
4798,126186,126186.0,/y8CGiAYo2E6Ld82FvNvwRwr8937.jpg,/2a1q1RTxspKxGWbGKVpXFzl6MbV.jpg,2012-05-03,98.0
4799,25975,25975.0,/76G299sPITuIgAwCWM71KTop3Qc.jpg,/19ChghJMN72BG9mQeDK0D209whF.jpg,2005-08-05,90.0